@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
$color-theme:#4e54c8;
$color-orange: #ef8a0f;
$color-white:rgb(246, 245, 245);
$color-green:rgb(69, 238, 69);
$color-red:rgb(245, 19, 19);
$color-blue:rgb(106, 204, 243);

body {
  background-color: $color-theme;
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
  }
.context{
  .container{
    h1{
      text-align: center;
      color: $color-white;
      font-size: 50px;
    }
    .winnerheading{
      color: $color-white;
      text-align: center;
      width: 50%;
      font-size: 2rem;
      margin: auto;
      margin-bottom: 25px;
      background-color: $color-red;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      span{
        color: $color-green;
        font-size: 2.5rem;
      }
    }
    .turnheading{
      color: $color-white;
      text-align: center;
      margin: auto;
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }
}
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .board-row {
      display: flex;
      flex-direction: row;
      // border-bottom: 2px solid #000;
      &:last-child {
        // border-bottom: none;
      }
      .square {
        width: 5rem;
        height: 5rem;
        margin: 1px;
        font-size: 3.5rem;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;
        &:last-child {
          // border-right: none;
        }
      }
    }
  }

  .history{
    width: 100vw;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-white;
    // background-color: $color-theme;

    button{
      background-color: antiquewhite;
      border: 2px solid rgb(18, 228, 158);
      border-radius: 5px;
      min-height: 30px;
      margin: 4px;
      padding: 5px;
      cursor: pointer;
      &:hover{
        background-color: aquamarine;
      }
    }
  }
  .Modalcontainer {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cookiesContent {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    button.close {
      width: 30px;
      font-size: 20px;
      color: #c0c5cb;
      align-self: flex-end;
      background-color: transparent;
      border: none;
      margin-bottom: 10px;
    }
    img {
      width: 82px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 40px;
      font-size: 18px;
    }
    .winner{
      color: red;
      font-weight: bold;
    }
    button.accept {
      background-color: #ed6755;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding: 14px;
      font-size: 16px;
      color: white;
      box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
      &:hover{
        opacity: 0.8;
      }
    }
    button.restart {
      margin: 10px;
      background-color: #22aee1;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding: 14px;
      font-size: 16px;
      color: white;
      box-shadow: 0px 6px 18px -5px rgb(85, 184, 237);
      &:hover{
        opacity: 0.8;
      }
    }
  }
  
  .accept {
    background-color: #ee4f3a;
    border: none;
    border-radius: 5px;
    width: 200px;
    display: block;
    margin:auto;
    margin-top: 20px;
    padding: 14px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    box-shadow: 0px 6px 18px -5px rgb(238, 80, 59);
    &:hover{
      background-color: $color-red;
    }
  }